.navigation-content.contact {
    background: linear-gradient(var(--bgc-second) 220px, transparent 350px);



    .description.lets-talk {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        h2 {
            margin-bottom: 10px;
            font-size: 3rem;
        }

        p {
            width: 90%;
            max-width: 350px;
            text-align: center;
        }

        .c-hyperlinks {
            margin-top: 30px;
            margin-bottom: 20px;

            a {
                margin-right: 10px;
                font-size: 2.5rem;
                color: var(--font-color-second);
                transition: color .5s;
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        font-size: 1.5rem;

        &>div {
            position: relative;
            display: flex;
            justify-content: center;
            width: 55%;
            max-width: 350px;
        }

        input,
        textarea {
            width: 100%;
            height: 45px;
            margin-bottom: 10px;
            padding: 0 15px;
            background-color: var(--bgc-second);
            border: 2px solid transparent;
            border-radius: 10px;
            color: var(--font-color);
            font-family: var(--font);
            font-size: 1.6rem;
            letter-spacing: .5px;
            outline: none;
            resize: none;
            transition: .5s;
        }

        textarea {
            padding: 10px 15px;
            height: 100px;
        }

        .placeholder {
            position: absolute;
            top: 14px;
            left: 15px;
            color: var(--font-color-fourth);
            text-transform: uppercase;
            font-size: 1.4rem;
            font-weight: 500;
            letter-spacing: .5px;
            transform: translateX(0);
            transition: .7s;
            cursor: text;
        }

        .email.active,
        .message.active {

            input,
            textarea {
                border: 2px solid var(--bgc-third);
                background-color: transparent;
            }

            .placeholder {
                transform: translateX(calc(-100% - 25px));
                color: var(--font-color-second);
                cursor: inherit;
            }
        }

        .submit {
            transition: background-color .5s;

            input {
                text-transform: uppercase;
                font-size: 1.4rem;
                font-weight: 600;
                letter-spacing: .5px;
                color: var(--font-color-fourth);
                cursor: not-allowed;
                transition: color .5s, background-color .5s;
            }

            &.active {
                input {
                    color: var(--font-color);
                    background-color: var(--bgc);
                    border: 2px solid var(--bgc-third);
                    cursor: pointer;

                    &:hover {
                        background-color: var(--bgc-second);
                    }
                }
            }
        }
    }
}

@media(min-width: 1200px) {
    .navigation-content.contact {

        .description.lets-talk {
    
            .c-hyperlinks {
    
                a:hover {
                    color: var(--font-color-third);
                }
            }
        }

        form {
            margin-top: 40px;
            &>div {
                width: 90%;

                &:hover {

                    input,
                    textarea {
                        border: 2px solid var(--bgc-third);
                    }
                }
            }

            .submit {
                &.active {
                    &:hover {
                        background-color: var(--bgc-second);
                    }
                }
            }
        }
    }
}