footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px 10px 100px;
    color: var(--font-color-fourth);
    font-size: 1.4rem;
    font-weight: 300;
    transition: color var(--time);

    hl {
        color: var(--font-color-second);
        transition: color var(--time);
    }

    div {
        flex-basis: 50%;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            transition: color .5s;
        }

        span:hover {
            color: var(--font-color-second);
        }
    }

    .f-trademark {
        justify-content: flex-start;
    }

    .f-description {
        span {
            text-align: center;
            width: 250px;
        }
    }

    .f-hyperlinks {
        justify-content: flex-end;

        a {
            font-size: 2.5rem;
            margin-right: 12px;
            color: inherit;
            transition: .5s;
        }

        a:last-of-type {
            margin-right: 0;
        }
    }
}

@media(min-width: 800px) {
    footer {
        flex-direction: row;
        padding: 50px 100px;

        .f-description {
            span {
                text-align: left;
            }
        }

        a {
            &:hover {
                color: var(--font-color-third);
            }
        }
    }
}