@import "variables";

.second-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

    &>div:first-of-type {
        display: flex;
        color: var(--font-color);
        margin-bottom: 20px;
        transition: color var(--time);

        .profile {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 200px;
            min-height: 200px;
            margin-right: 10px;

            .profile-pic-wrapper {
                position: relative;
                width: 120px;
                height: 120px;
                margin-top: 20px;
            }

            .profile-pic {
                overflow: hidden;
                width: 120px;
                height: 120px;
                background-color: var(--bgc-third);
                border-radius: 100px;
                box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
                transform: translatey(0px);
                transition: 1s;
                animation: float 6s ease-in-out infinite;

                .image {
                    visibility: hidden;
                    width: 100%;
                    translate: 0 100%;
                    animation: profile-pic-slide 1.5s 1s forwards;
                }

                .image-test {
                    visibility: hidden;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    z-index: 3;
                    translate: 0 100%;
                    animation: profile-pic-slide 1.5s 1s forwards;
                }

                .dot {
                    position: absolute;
                    height: 2px;
                    width: 2px;
                    background-color: red;
                    z-index: 1;
                    translate: 0 139px;
                    animation: eyes-slide 1.5s 1s forwards;

                    &>div {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 9px;
                        height: 11px;
                        translate: -20% -55%;
                        background-color: #011229;
                        border-radius: 100%;
                        filter: blur(.2px);


                        &>span {
                            position: absolute;
                            top: 43%;
                            left: 60%;
                            width: 2px;
                            height: 2px;
                            background-color: white;
                            border-radius: 100%;
                        }
                    }
                }

                .right-eye.dot {
                    top: 52%;
                    left: 70.8%;
                }

                .left-eye.dot {
                    top: 52%;
                    left: 47.2%;
                }
            }

            .name-wrapper {
                margin-top: 5px;
                width: 100%;
                flex-grow: 1;

            }

            p {
                width: 100%;
                top: 65%; //
                text-align: center;
                font-size: 1.2rem;
                opacity: 0;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 1px;
                color: var(--font-color-second);
                transition: .6s;
                animation: slide-show .5s 1.5s reverse forwards linear;

            }
        }

        .navigation {
            display: flex;
            flex-direction: column;
            width: 60%; 
            max-width: 200px; 
            height: auto;
            font-size: 1.1rem;
            font-weight: 600;
            letter-spacing: 2px;
            box-sizing: border-box;
            padding: 25px 0;

            span {
                display: flex;
                align-items: center;
                margin: 5px 15px;
                padding: 15px 0;
                color: var(--font-color-fourth);
                cursor: pointer;
                transition: .5s;
                transform: scale(.8);
                opacity: 0;

                &:nth-of-type(1) {
                    animation: 1s 2s fade-in forwards;
                    margin-top: 0; //
                }

                &:nth-of-type(2) {
                    animation: 1s 2.2s fade-in forwards;
                }

                &:nth-of-type(3) {
                    animation: 1s 2.4s fade-in forwards;
                    margin-bottom: 0; 
                }

                &::before {
                    content: "";
                    width: 15px;
                    height: 1.5px;
                    margin-right: 10px;
                    background-color: var(--line-color);
                    transition: .5s;
                }

                &.active {
                    color: var(--font-color);

                    &::before {
                        width: 35px;
                        background-color: var(--line-color-second);
                        transition: .5s;
                    }
                }
            }
        }
    }

    .navigation-contents {
        position: relative;
        flex-basis: 100%;
        max-width: 1000px;

        .navigation-content.about-me .navigation-content-wrapper {
            animation: 1s 2.6s fade-in forwards;
        }

        .navigation-content-wrapper {
            opacity: 0;
            animation: 1s fade-in forwards;
        }

        .navigation-content {
            display: none;
            width: 100%;
            height: auto;
            box-sizing: border-box;

            &.active {
                display: block;
            }
        }

        .title {
            display: flex;
            align-items: center;
            margin-bottom: 40px;
            padding: 25px 20px;

            h2 {
                margin-right: 25px;
                font-size: 2.6rem;
                font-weight: 600;
            }

            &::after {
                content: "";
                flex-grow: 1;
                height: 2px;
                max-width: 250px;
                background-color: var(--line-color);
                transition: background-color var(--time);
            }
        }

        .description {
            width: 100%; //
            margin-top: 20px;
            padding: 0px 20px;
            font-size: 1.5rem;
            color: var(--font-color-second);
            transition: color var(--time);

            h2 {
                margin-bottom: 2px;
                color: var(--font-color);
                font-size: 1.8rem;
                font-weight: 500;
                letter-spacing: .5px;
                transition: color var(--time);
            }

            p {
                letter-spacing: .5px;
                line-height: 20px;

                &:first-of-type {
                    margin-bottom: 25px;
                }
            }

            span {
                color: var(--font-color-third);
                transition: color var(--time);
            }
        }

        .skills-wrapper {
            margin-top: 130px;

            &>p {
                top: -40px;
                color: var(--font-color);
                font-size: clamp(1rem, 3.5vw, 1.4rem);
                font-weight: 600;
                letter-spacing: 2px;
                text-transform: uppercase;
                transition: color var(--time);

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -6px;
                    left: 50%;
                    translate: -50% -50%;
                    width: 60%;
                    height: 1px;
                    background-color: var(--line-color);
                    transition: background-color var(--time);
                }
            }


        }

        .skills {
            display: flex;
            flex-direction: column;
            min-height: 420px;

            .languages,
            .frameworks,
            .tools {
                width: 40%;
                display: flex;
                flex-direction: column;
                align-items: center;

                &.active {
                    .stat-name {
                        background-color: var(--bgc-second);

                        i {
                            color: var(--font-color-third);
                        }

                        span {
                            color: var(--font-color);
                        }
                    }

                    &>ul {
                        display: block;
                        position: absolute;
                        left: 60%;
                        top: -80px;
                    }
                }

                .stat-name {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 95%;
                    padding: 10px 0;
                    border-radius: 10px;
                    transition: background-color .5s;

                    i {
                        margin-bottom: 8px;
                        font-size: 2rem;
                        color: var(--font-color-fourth);
                        transition: color .5s;
                    }

                    span {
                        text-transform: uppercase;
                        font-size: 1.1rem;
                        font-weight: 600;
                        letter-spacing: 2px;
                        color: var(--font-color-fourth);
                        transition: color .5s;
                    }

                }

                &>ul {
                    display: none;
                    margin: 100px 0 0 0; //
                    opacity: 0;
                    animation: fade-in 1s forwards;


                    li {
                        margin-bottom: 40px;

                        &.sp {
                            margin-left: 50px;
                            margin-bottom: 35px;
                        }

                        span {
                            text-transform: uppercase;
                            font-size: 1.2rem;
                            font-weight: 600;
                            letter-spacing: 2px;
                            color: var(--font-color-second);
                            user-select: none;
                            transition: color .5s;
                        }
                    }
                }
            }

            .tools {
                &::after {
                    display: none;
                }
            }
        }
    }
}

.about-me.block {
    background: linear-gradient(var(--bgc-second) 24%, var(--bgc) 38%);
}

.icon {
    width: 30px;
    height: 30px;
    left: -30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: brightness(80%);
    transition: filter .5s;

    &.java {
        background-image: url('../img/java-logo.png');
    }

    &.javascript {
        background-image: url('../img/js-logo.png');
    }

    &.html {
        background-image: url('../img/html-logo.png');
    }

    &.css {
        background-image: url('../img/css-logo.png');
    }

    &.sql {
        background-image: url('../img/sql-logo.png');
    }

    &.spring {
        background-image: url('../img/spring-logo.png');
    }

    &.jpa {
        background-image: url('../img/jpa-logo.png');
    }

    &.security {
        background-image: url('../img/security-logo.png');
    }

    &.web {
        background-image: url('../img/web-logo.png');
    }

    &.hibernate {
        background-image: url('../img/hibernate-logo.png');
    }

    &.playwright {
        background-image: url('../img/playwright-logo.png');
    }

    &.docker {
        background-image: url('../img/docker-logo.png');
    }

    &.git {
        background-image: url('../img/git-logo.png');
    }

    &.maven {
        background-image: url('../img/maven-logo.png');
    }

    &.junit {
        background-image: url('../img/junit-logo.png');
    }

    &.thymeleaf {
        background-image: url('../img/thymeleaf-logo.png');
    }

    &.htmx {
        background-image: url('../img/htmx-logo.png');
    }

    &.scss {
        background-image: url('../img/scss-logo.png');
    }

    &.intellij {
        background-image: url('../img/intellij-logo.png');
    }

    &.visual {
        background-image: url('../img/visual-logo.png');
    }

    &.postresql {
        background-image: url('../img/postresql-logo.png');
    }

    &.photopea {
        background-image: url('../img/photopea-logo.png');
    }
}

@media (min-width: 700px) {
    .second-section {
        flex-direction: row;

        &>div:first-of-type {
            flex-direction: column;
            margin-right: 10px;

            .profile {
                p {
                    font-size: 1.3rem;
                }
            }

            .navigation {
                margin-top: 20px;
                width: 200px;
                font-size: 1.2rem;

                //here
                span {
                    &::before {
                        width: 25px;
                    }

                    &.active {

                        &::before {
                            width: 70px;
                        }
                    }
                }
            }
        }

        .navigation-contents {

            .title {
                h2 {
                    font-size: 3.2rem;
                }
            }

            .description {
                width: clamp(300px, 90%, 450px);
            }
        }
    }
}


@media (min-width: 1200px) {
    .second-section {
        &>div:first-of-type {
            margin-right: 50px;

            .profile {
                p {
                    top: 72%;
                    font-size: 1.5rem;
                }

                &:hover {
                    .profile-pic {
                        background-color: var(--bgc-second);
                    }

                    p {
                        translate: -50% -15px;
                        color: var(--font-color);
                    }
                }
            }

            .navigation {
                span {
                    &:hover {
                        color: var(--font-color);

                        &::before {
                            width: 70px;
                            background-color: var(--line-color-second);
                        }
                    }
                }
            }
        }

        .navigation-contents {
            .navigation-content {
                padding: 25px 35px;
            }

            .title {
                h2 {
                    font-size: 3.5rem;
                }
            }

            .skills-wrapper {
                margin-top: 150px;

                &>p {
                    top: -55px;
                    font-size: 1.5rem;
                }
            }

            .skills {
                flex-direction: row;
                justify-content: center;

                .languages,
                .frameworks,
                .tools {
                    position: relative;

                    .stat-name {
                        width: 100%;

                        i {
                            font-size: 2.3rem;
                            color: var(--font-color-third);
                            transition: color var(--time);
                        }
                        
                        span {
                            font-size: 1.3rem;
                            color: var(--font-color-second);
                            transition: color var(--time);
                        }

                    }

                    &.active {
                        .stat-name {
                            background-color: var(--bgc);

                            span {
                                color: var(--font-color-second);
                            }
                        }

                        &>ul {
                            position: static;
                        }
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 60px;
                        right: 0;
                        width: 2px;
                        height: 150px;
                        background-color: rgba(136, 146, 176, 0.2);
                    }

                    &>ul {
                        display: block;
                        align-self: flex-start;
                        margin: 45px 0 0 40%;

                        li {
                            &:hover {

                                .icon {
                                    filter: brightness(100%);
                                }

                                span {
                                    color: var(--font-color);
                                }
                            }

                            &.sp {
                                margin-left: 20px;
                                margin-bottom: 25px;
                            }
                        }
                    }
                }

                .tools {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}

@keyframes profile-pic-slide {
    0% {
        visibility: hidden;
    }

    1% {
        visibility: visible;
    }

    100% {
        visibility: visible;
        translate: 0 0;
    }
}

@keyframes eyes-slide {
    to {
        translate: 0 0;
    }
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-10px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

@keyframes slider {
    to {
        transform: translateX(100%);
    }
}

@keyframes slide-show {
    from {
        transform: translateY(-10px);
        opacity: 1;
    }
}

@keyframes fade-in {
    to {
        opacity: 1;
        transform: scale(1);
    }
}