.second-section {
    display: flex;
    margin-bottom: 100px;

    &>div:first-of-type {
        display: flex;
        flex-direction: column;
        margin-right: 50px;
        color: $font-color;

        .profile {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 200px;
            min-height: 200px;

            .profile-pic-wrapper {
                position: relative;
                width: 120px;
                height: 120px;
                margin-top: 20px;
            }

            .profile-pic {
                overflow: hidden;
                width: 120px;
                height: 120px;
                background-color: $bgc-third;
                border-radius: 100px;
                box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
                transform: translatey(0px);
                transition: 1s;
                animation: float 6s ease-in-out infinite;

                img {
                    width: 100%;
                    animation: profile-pic-slide 1.5s;
                }
            }

            .name-wrapper {
                margin-top: 5px;
                width: 100%;
                flex-grow: 1;

            }

            p {
                width: 100%;
                text-align: center;
                font-size: 1.5rem;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 1px;
                color: $font-color-second;
                transition: .6s;
            }

            &:hover {

                .profile-pic {
                    background-color: #122545;
                    ;
                }

                p {
                    transform: translateY(-20%);
                    font-size: 1.5rem;
                    color: $font-color;
                }
            }
        }

        .navigation {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            width: 200px;
            height: auto;
            font-size: 1.2rem;
            font-weight: 600;
            letter-spacing: 2px;
            box-sizing: border-box;
            padding: 25px 0;

            &>span {
                display: flex;
                align-items: center;
                margin: 5px 15px;
                padding: 15px 0;
                color: $font-color-fourth;
                cursor: pointer;
                transition: .5s;

                &::before {
                    content: "";
                    width: 25px;
                    height: 1.5px;
                    margin-right: 10px;
                    background-color: $line-color;
                    transition: .5s;
                }

                &:hover {
                    color: $font-color;

                    &::before {
                        width: 70px;
                        background-color: $line-color-second;
                    }
                }

                &.active {
                    color: $font-color;

                    &::before {
                        width: 70px;
                        background-color: $line-color-second;
                    }
                }
            }
        }
    }

    &>div:last-of-type {
        flex-basis: 100%;
        max-width: 1000px;

        .navigation-content {
            display: none;
            width: 100%;
            height: auto;
            box-sizing: border-box;
            padding: 25px 35px;

            &.active {
                display: block;
            }
        }

        .title {
            display: flex;
            align-items: center;
            margin-bottom: 40px;

            h2 {
                margin-right: 25px;
                font-size: 3.5rem;
                font-weight: 600;
            }

            &::after {
                content: "";
                flex-grow: 1;
                height: 2px;
                max-width: 250px;
                background-color: $line-color;
            }
        }

        .description {
            width: clamp(300px, 90%, 450px);
            margin-top: 20px;
            font-size: 1.5rem;
            color: $font-color-second;

            h2 {
                margin-bottom: 2px;
                color: $font-color;
                font-size: 1.8rem;
                font-weight: 500;
                letter-spacing: .5px;
            }

            p {
                letter-spacing: .5px;
                line-height: 24px;
            }

            span {
                color: $font-color-third;
            }
        }

        .skills-wrapper {
            margin-top: 150px;

            &>p {
                top: -55px;
                color: $font-color;
                font-size: 1.5rem;
                font-weight: 600;
                letter-spacing: 2px;
                text-transform: uppercase;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -6px;
                    left: 50%;
                    translate: -50% -50%;
                    width: 60%;
                    height: 1px;
                    background-color: $line-color;
                }
            }


        }

        .skills {
            display: flex;
            justify-content: center;

            .languages,
            .frameworks,
            .tools {
                flex-basis: 40%;
                display: flex;
                flex-direction: column;
                align-items: center;

                &>i {
                    margin-bottom: 8px;
                    font-size: 2.3rem;
                    color: $font-color-third;
                }

                &>span {
                    text-transform: uppercase;
                    font-size: 1.4rem;
                    font-weight: 600;
                    letter-spacing: 2px;
                    color: $font-color-second;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 60px;
                    right: 0;
                    width: 2px;
                    height: 150px;
                    background-color: rgba(136, 146, 176, 0.2);
                }

                &>ul {
                    align-self: flex-start;
                    margin: 50px 0 0 40%;

                    li {
                        margin-bottom: 30px;

                        &:hover {

                            .icon {
                                filter: brightness(100%);
                            }

                            span {
                                color: $font-color;
                            }
                        }

                        &.sp {
                            margin-left: 20px;
                            margin-bottom: 25px;
                        }

                        span {
                            text-transform: uppercase;
                            font-size: 1.2rem;
                            font-weight: 600;
                            letter-spacing: 2px;
                            color: $font-color-second;
                            user-select: none;
                            transition: color .5s;
                        }
                    }
                }
            }

            .tools {
                &::after {
                    display: none;
                }
            }
        }
    }
}

.about-me.block {
    background: linear-gradient($bgc-second 24%, $bgc 38%);
}

.icon {
    width: 30px;
    height: 30px;
    left: -30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: brightness(70%);
    transition: filter .5s;

    &.java {
        background-image: url('/assets/img/java-logo.png');
    }

    &.javascript {
        background-image: url('/assets/img/js-logo.png');
    }

    &.html {
        background-image: url('/assets/img/html-logo.png');
    }

    &.css {
        background-image: url('/assets/img/css-logo.png');
    }

    &.sql {
        background-image: url('/assets/img/sql-logo.png');
    }

    &.spring {
        background-image: url('/assets/img/spring-logo.png');
    }

    &.jpa {
        background-image: url('/assets/img/jpa-logo.png');
    }

    &.security {
        background-image: url('/assets/img/security-logo.png');
    }

    &.web {
        background-image: url('/assets/img/web-logo.png');
    }

    &.hibernate {
        background-image: url('/assets/img/hibernate-logo.png');
    }

    &.playwright {
        background-image: url('/assets/img/playwright-logo.png');
    }

    &.docker {
        background-image: url('/assets/img/docker-logo.png');
    }

    &.git {
        background-image: url('/assets/img/git-logo.png');
    }

    &.maven {
        background-image: url('/assets/img/maven-logo.png');
    }

    &.junit {
        background-image: url('/assets/img/junit-logo.png');
    }

    &.thymeleaf {
        background-image: url('/assets/img/thymeleaf-logo.png');
    }

    &.htmx {
        background-image: url('/assets/img/htmx-logo.png');
    }

    &.scss {
        background-image: url('/assets/img/scss-logo.png');
    }

    &.intellij {
        background-image: url('/assets/img/intellij-logo.png');
    }

    &.visual {
        background-image: url('/assets/img/visual-logo.png');
    }

    &.postresql {
        background-image: url('/assets/img/postresql-logo.png');
    }

    &.photopea {
        background-image: url('/assets/img/photopea-logo.png');
    }
}

@keyframes profile-pic-slide {
    from {
        transform: translateY(70%);
    }
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-10px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}