.test {
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    z-index: 2;

    .image {
        width: 100%;
    }
    .image-test {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .eye {
        position: absolute;
        top: 48%;
        left: 61.7%;
        z-index: 2;
    }

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 50px;
        background-color: #011229;
        border-radius: 100%;
        filter: blur(.5px);
        transform: translate(-9px, -5px);
        animation: 1s slide infinite;
    }

    span:first-of-type {
        top: 59.5%;
        left: 44.4%;
    }
    span:last-of-type {
        top: 59.7%;
        left: 68.5%;
    }

    div {
        position: absolute;
        top: 50%;
        left: 65%;
        translate: -50% -50%;
        width: 10px;
        height: 10px;
        background-color: white;
        filter: blur(.5px);
        border-radius: 100%;
    }

    // #moon {
    //     top: 67%;
    //     left: 77%;
    //     width: 20px;
    //     height: 65px;
    //     border-radius: 90%;
    //     box-shadow: 15px 15px 0 0 #fdc396;
    //     background-color: transparent;
    //     transform: rotate(40deg);
    //     z-index: 1;
    //   }
    
    
}

@keyframes slide {
    50% {
        transform: translate(9px, 5px);
    }
}

// up -5px
// right 9px
// down 5px
// left -10px
