:root {
    --eyesX: 0px;
    --eyesY: 0px;
}

.test {
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    z-index: 2;

    .image {
        width: 100%;
    }

    .image-test {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
    }

    .dot {
        position: absolute;
        top: 48%;
        left: 61.7%;
        height: 10px;
        width: 10px;
        background-color: red;
        z-index: 1;
        animation: rotate 3s linear infinite;

        &>div {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 40px;
            height: 50px;
            translate: -20% -55%;
            background-color: #011229;
            border-radius: 100%;
            filter: blur(.5px);
            animation: rotateX 3s linear infinite;


            &>span {
                position: absolute;
                top: 43%;
                left: 60%;
                width: 10px;
                height: 10px;
                background-color: white;
                border-radius: 100%;
            }
        }
    }

    .right-eye.dot {
        top: 65.5%;
        left: 71.2%;
    }

    .left-eye.dot {
        top: 6%;
        left: 47.2%;
    }

    // .eye {
    //     position: absolute;
    //     top: 48%;
    //     left: 61.7%;
    //     z-index: 2;
    // }

    // span {
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     width: 40px;
    //     height: 50px;
    //     background-color: #011229;
    //     border-radius: 100%;
    //     filter: blur(.5px);
    //     transform: translate(var(--eyesX), var(--eyesY));
    //     // animation: 2s slide infinite;
    // }

    // span:first-of-type {
    //     top: 59.5%;
    //     left: 44.4%;
    // }
    // span:last-of-type {
    //     top: 59.7%;
    //     left: 68.5%;
    // }

    // div {
    //     position: absolute;
    //     top: 50%;
    //     left: 65%;
    //     translate: -50% -50%;
    //     width: 10px;
    //     height: 10px;
    //     background-color: white;
    //     filter: blur(.5px);
    //     border-radius: 100%;
    // }

}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}
@keyframes rotateX {
    from {
        transform: rotate(-0deg);
    }
    from {
        transform: rotate(-360deg);
    }
}

@keyframes slide {
    0% {
        transform: translate(0px, -10px);
    }

    20% {
        transform: translate(0px, -10px);
    }

    40% {
        transform: translate(15px, 0px);
    }

    60% {
        transform: translate(0px, 15px);
    }

    80% {
        transform: translate(-15px, 0px);
    }

    100% {
        transform: translate(0px, -10px);
    }
}

// up -5px
// right 9px
// down 5px
// left -10px