$font: "Inter", "Arial";
$font-second: "Inter Tight", "Arial";
$font-third: "SF Mono", "Arial";

$font-color: #CCD6F6;
$font-color-second: #8892B0;
$font-color-third: #60F7D4;
$font-color-fourth: #64748B;

$bgc: #0A192F;
$bgc-second: #112240;
$bgc-third: #1A3462;

$line-color: rgba(136, 146, 176, .3);
$line-color-second: #CCD6F6;