@import "variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;

    @media (min-width: 1000px) {
        user-select: text;
    }
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: $bgc;
    font-family: $font;
    // cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='28' fill='none' viewBox='0 0 26 31'%3E%3Cpath fill='%23010101' fill-rule='evenodd' stroke='%23fff' stroke-linecap='square' stroke-width='1.5' d='M21.993 14.425 2.549 2.935l4.444 23.108 4.653-10.002 10.347-1.616Z' clip-rule='evenodd'/%3E%3C/svg%3E"), auto;
}

.content {
    overflow: hidden;
    max-width: 1920px;
    width: 100%;
}


section {
    margin: 0 2rem;
    font-family: $font;
    color: $font-color;

    @media (min-width: 1000px) {
        margin: 0 clamp(2rem, 10vw, 150rem);
    }
}

.block {
    background-color: $bgc-second;
    border-radius: 15px
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.relative {
    position: relative;
}

ul {
    list-style: none;
}

hl {
    color: $font-color-third;
}

@import "first-section";
@import "second-section";
@import "projects";
@import "contact";
@import "footer";
@import "test";