* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (min-width: 1000px) {
  * {
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
  }
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  background-color: #0A192F;
  font-family: "Inter", "Arial";
}

.content {
  max-width: 1920px;
  width: 100%;
}

section {
  margin: 0 clamp(2.5rem, 10vw, 100rem);
  font-family: "Inter", "Arial";
  color: #CCD6F6;
}

.block {
  height: 100px;
  width: 100px;
  background-color: #112240;
  border-radius: 15px;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.relative {
  position: relative;
}

ul {
  list-style: none;
}

hl {
  color: #60F7D4;
}

.content {
  position: relative;
}
.content .cv {
  overflow: hidden;
  position: absolute;
  opacity: 0;
  top: 80px;
  right: 12%;
  width: 155px;
  padding: 21px 25px;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: #112240;
  color: #8892B0;
  font-family: "SF Mono", "Arial";
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  animation: slide-show 0.5s 1s reverse forwards linear;
}
.content .cv span {
  position: absolute;
  right: 0;
  top: 50%;
  translate: -20px -50%;
}
.content .cv:hover {
  width: 180px;
  color: #CCD6F6;
  border: 2px solid #112240;
  background-color: transparent;
}
.content .cv:hover div {
  translate: -142px -50%;
}
.content .cv div {
  position: absolute;
  right: 0;
  top: 50%;
  translate: -142px -45px;
  font-size: 1.8rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.first-section {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 100px;
  margin-bottom: 60px;
}
.first-section p {
  margin-bottom: 20px;
  font-family: "SF Mono", sans-serif;
  font-weight: 400;
  font-size: clamp(14px, 5vw, 16px);
  color: #60F7D4;
}
.first-section h1 {
  font-family: "Inter Tight", "Arial";
  font-size: clamp(3.5rem, 7vw, 6rem);
  color: #CCD6F6;
  letter-spacing: 1px;
  font-weight: 600;
}
.first-section h3 {
  font-size: clamp(2.5rem, 4vw, 4.5rem);
  color: #8892B0;
  letter-spacing: 1px;
  font-weight: 600;
}

.first-section > *::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0A192F;
  -webkit-animation: slider 1s 0.3s ease-out forwards;
          animation: slider 1s 0.3s ease-out forwards;
}

@-webkit-keyframes slider {
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes slider {
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@-webkit-keyframes slide-show {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 1;
  }
}
@keyframes slide-show {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 1;
  }
}
.second-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}
.second-section > div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 50px;
  color: #CCD6F6;
}
.second-section > div:first-of-type .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  min-height: 200px;
}
.second-section > div:first-of-type .profile .profile-pic-wrapper {
  position: relative;
  width: 120px;
  height: 120px;
  margin-top: 20px;
}
.second-section > div:first-of-type .profile .profile-pic {
  overflow: hidden;
  width: 120px;
  height: 120px;
  background-color: #1A3462;
  border-radius: 100px;
  -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  -webkit-transform: translatey(0px);
          transform: translatey(0px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
}
.second-section > div:first-of-type .profile .profile-pic .image {
  visibility: hidden;
  width: 100%;
  translate: 0 100%;
  -webkit-animation: profile-pic-slide 1.5s 1s forwards;
          animation: profile-pic-slide 1.5s 1s forwards;
}
.second-section > div:first-of-type .profile .profile-pic .image-test {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  translate: 0 100%;
  -webkit-animation: profile-pic-slide 1.5s 1s forwards;
          animation: profile-pic-slide 1.5s 1s forwards;
}
.second-section > div:first-of-type .profile .profile-pic .dot {
  position: absolute;
  height: 2px;
  width: 2px;
  background-color: red;
  z-index: 1;
  translate: 0 139px;
  -webkit-animation: eyes-slide 1.5s 1s forwards;
          animation: eyes-slide 1.5s 1s forwards;
}
.second-section > div:first-of-type .profile .profile-pic .dot > div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9px;
  height: 11px;
  translate: -20% -55%;
  background-color: #011229;
  border-radius: 100%;
  -webkit-filter: blur(0.2px);
          filter: blur(0.2px);
}
.second-section > div:first-of-type .profile .profile-pic .dot > div > span {
  position: absolute;
  top: 43%;
  left: 60%;
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 100%;
}
.second-section > div:first-of-type .profile .profile-pic .right-eye.dot {
  top: 52%;
  left: 70.8%;
}
.second-section > div:first-of-type .profile .profile-pic .left-eye.dot {
  top: 52%;
  left: 47.2%;
}
.second-section > div:first-of-type .profile .name-wrapper {
  margin-top: 5px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.second-section > div:first-of-type .profile p {
  width: 100%;
  top: 72%;
  text-align: center;
  font-size: 1.5rem;
  opacity: 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  color: #8892B0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  animation: slide-show 0.5s 2s reverse forwards linear;
}
.second-section > div:first-of-type .profile:hover .profile-pic {
  background-color: #122545;
}
.second-section > div:first-of-type .profile:hover p {
  translate: -50% -15px;
  color: #CCD6F6;
}
.second-section > div:first-of-type .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  width: 200px;
  height: auto;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px 0;
}
.second-section > div:first-of-type .navigation span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 15px;
  padding: 15px 0;
  color: #64748B;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.second-section > div:first-of-type .navigation span::before {
  content: "";
  width: 25px;
  height: 1.5px;
  margin-right: 10px;
  background-color: rgba(136, 146, 176, 0.3);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.second-section > div:first-of-type .navigation span:hover {
  color: #CCD6F6;
}
.second-section > div:first-of-type .navigation span:hover::before {
  width: 70px;
  background-color: #CCD6F6;
}
.second-section > div:first-of-type .navigation span.active {
  color: #CCD6F6;
}
.second-section > div:first-of-type .navigation span.active::before {
  width: 70px;
  background-color: #CCD6F6;
}
.second-section > div:last-of-type {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 1000px;
}
.second-section > div:last-of-type .navigation-content {
  display: none;
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px 35px;
}
.second-section > div:last-of-type .navigation-content.active {
  display: block;
}
.second-section > div:last-of-type .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.second-section > div:last-of-type .title h2 {
  margin-right: 25px;
  font-size: 3.5rem;
  font-weight: 600;
}
.second-section > div:last-of-type .title::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 2px;
  max-width: 250px;
  background-color: rgba(136, 146, 176, 0.3);
}
.second-section > div:last-of-type .description {
  width: clamp(300px, 90%, 450px);
  margin-top: 20px;
  font-size: 1.5rem;
  color: #8892B0;
}
.second-section > div:last-of-type .description h2 {
  margin-bottom: 2px;
  color: #CCD6F6;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.second-section > div:last-of-type .description p {
  letter-spacing: 0.5px;
  line-height: 24px;
}
.second-section > div:last-of-type .description span {
  color: #60F7D4;
}
.second-section > div:last-of-type .skills-wrapper {
  margin-top: 150px;
}
.second-section > div:last-of-type .skills-wrapper > p {
  top: -55px;
  color: #CCD6F6;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.second-section > div:last-of-type .skills-wrapper > p::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  translate: -50% -50%;
  width: 60%;
  height: 1px;
  background-color: rgba(136, 146, 176, 0.3);
}
.second-section > div:last-of-type .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.second-section > div:last-of-type .skills .languages,
.second-section > div:last-of-type .skills .frameworks,
.second-section > div:last-of-type .skills .tools {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.second-section > div:last-of-type .skills .languages > i,
.second-section > div:last-of-type .skills .frameworks > i,
.second-section > div:last-of-type .skills .tools > i {
  margin-bottom: 8px;
  font-size: 2.3rem;
  color: #60F7D4;
}
.second-section > div:last-of-type .skills .languages > span,
.second-section > div:last-of-type .skills .frameworks > span,
.second-section > div:last-of-type .skills .tools > span {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #8892B0;
}
.second-section > div:last-of-type .skills .languages::after,
.second-section > div:last-of-type .skills .frameworks::after,
.second-section > div:last-of-type .skills .tools::after {
  content: "";
  position: absolute;
  top: 60px;
  right: 0;
  width: 2px;
  height: 150px;
  background-color: rgba(136, 146, 176, 0.2);
}
.second-section > div:last-of-type .skills .languages > ul,
.second-section > div:last-of-type .skills .frameworks > ul,
.second-section > div:last-of-type .skills .tools > ul {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 50px 0 0 40%;
}
.second-section > div:last-of-type .skills .languages > ul li,
.second-section > div:last-of-type .skills .frameworks > ul li,
.second-section > div:last-of-type .skills .tools > ul li {
  margin-bottom: 30px;
}
.second-section > div:last-of-type .skills .languages > ul li:hover .icon,
.second-section > div:last-of-type .skills .frameworks > ul li:hover .icon,
.second-section > div:last-of-type .skills .tools > ul li:hover .icon {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}
.second-section > div:last-of-type .skills .languages > ul li:hover span,
.second-section > div:last-of-type .skills .frameworks > ul li:hover span,
.second-section > div:last-of-type .skills .tools > ul li:hover span {
  color: #CCD6F6;
}
.second-section > div:last-of-type .skills .languages > ul li.sp,
.second-section > div:last-of-type .skills .frameworks > ul li.sp,
.second-section > div:last-of-type .skills .tools > ul li.sp {
  margin-left: 20px;
  margin-bottom: 25px;
}
.second-section > div:last-of-type .skills .languages > ul li span,
.second-section > div:last-of-type .skills .frameworks > ul li span,
.second-section > div:last-of-type .skills .tools > ul li span {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #8892B0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.second-section > div:last-of-type .skills .tools::after {
  display: none;
}

.about-me.block {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(24%, #112240), color-stop(38%, #0A192F));
  background: linear-gradient(#112240 24%, #0A192F 38%);
}

.icon {
  width: 30px;
  height: 30px;
  left: -30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}
.icon.java {
  background-image: url("/assets/img/java-logo.png");
}
.icon.javascript {
  background-image: url("/assets/img/js-logo.png");
}
.icon.html {
  background-image: url("/assets/img/html-logo.png");
}
.icon.css {
  background-image: url("/assets/img/css-logo.png");
}
.icon.sql {
  background-image: url("/assets/img/sql-logo.png");
}
.icon.spring {
  background-image: url("/assets/img/spring-logo.png");
}
.icon.jpa {
  background-image: url("/assets/img/jpa-logo.png");
}
.icon.security {
  background-image: url("/assets/img/security-logo.png");
}
.icon.web {
  background-image: url("/assets/img/web-logo.png");
}
.icon.hibernate {
  background-image: url("/assets/img/hibernate-logo.png");
}
.icon.playwright {
  background-image: url("/assets/img/playwright-logo.png");
}
.icon.docker {
  background-image: url("/assets/img/docker-logo.png");
}
.icon.git {
  background-image: url("/assets/img/git-logo.png");
}
.icon.maven {
  background-image: url("/assets/img/maven-logo.png");
}
.icon.junit {
  background-image: url("/assets/img/junit-logo.png");
}
.icon.thymeleaf {
  background-image: url("/assets/img/thymeleaf-logo.png");
}
.icon.htmx {
  background-image: url("/assets/img/htmx-logo.png");
}
.icon.scss {
  background-image: url("/assets/img/scss-logo.png");
}
.icon.intellij {
  background-image: url("/assets/img/intellij-logo.png");
}
.icon.visual {
  background-image: url("/assets/img/visual-logo.png");
}
.icon.postresql {
  background-image: url("/assets/img/postresql-logo.png");
}
.icon.photopea {
  background-image: url("/assets/img/photopea-logo.png");
}

@-webkit-keyframes profile-pic-slide {
  0% {
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    translate: 0 0;
  }
}

@keyframes profile-pic-slide {
  0% {
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    translate: 0 0;
  }
}
@-webkit-keyframes eyes-slide {
  to {
    translate: 0 0;
  }
}
@keyframes eyes-slide {
  to {
    translate: 0 0;
  }
}
@-webkit-keyframes float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-10px);
            transform: translatey(-10px);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-10px);
            transform: translatey(-10px);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}
@keyframes slider {
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes slide-show {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 1;
  }
}
.block.projects {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #112240), color-stop(14%, #0A192F));
  background: linear-gradient(#112240 5%, #0A192F 14%);
}

.projects .projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}
.projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 800px;
  min-height: 200px;
  margin-bottom: 110px;
}
.projects .project:hover .p-photo img {
  opacity: 1;
  -webkit-filter: sepia(0);
          filter: sepia(0);
}
.projects .project .p-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.projects .project .p-photo a {
  width: 70%;
}
.projects .project .p-photo img {
  width: 100%;
  opacity: 0.3;
  -webkit-filter: sepia(1);
          filter: sepia(1);
  -webkit-box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
          box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.projects .project .p-description {
  top: 50%;
  left: 45%;
  width: 60%;
  translate: 0 -50%;
  margin-top: 10px;
  padding: 25px;
  background-color: #112240;
  -webkit-box-shadow: rgba(2, 12, 27, 0.7) 0px 20px 30px -15px;
          box-shadow: rgba(2, 12, 27, 0.7) 0px 20px 30px -15px;
}
.projects .project .p-description .p-title {
  top: -40px;
  left: auto;
  right: 0;
  translate: 0 -50%;
}
.projects .project .p-description .p-title h2 {
  font-family: "Inter Tight", "Arial";
  font-size: 2.7rem;
  font-weight: 600;
  text-align: center;
}
.projects .project .p-description .p-title .hyperlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: calc(0% - 15px);
  left: auto;
  right: 0;
  translate: 0 -50%;
}
.projects .project .p-description .p-title .hyperlinks a {
  color: #8892B0;
  font-size: 1.9rem;
  margin-right: 15px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.projects .project .p-description .p-title .hyperlinks a:hover {
  color: #60F7D4;
}
.projects .project .p-description .p-title .hyperlinks a:last-of-type {
  margin-right: 0;
}
.projects .project .p-description p {
  margin-bottom: 5px;
  font-size: 1.5rem;
  line-height: 25.4px;
  text-align: right;
  color: #8892B0;
  letter-spacing: 0.5px;
}
.projects .project .p-description .languages-used {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: calc(100% + 25px);
  left: 100%;
  translate: -100% -50%;
}
.projects .project .p-description .languages-used p {
  position: relative;
  margin-right: 20px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-family: "SF Mono", "Arial";
  text-transform: uppercase;
}
.projects .project .p-description .languages-used p span {
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50% -50%;
  font-size: 1rem;
}
.projects .project .p-description .languages-used p:last-of-type {
  margin-right: 0;
}
.projects .project:nth-of-type(even) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 800px;
  min-height: 200px;
  margin-bottom: 130px;
}
.projects .project:nth-of-type(even):hover .p-photo img {
  opacity: 1;
  -webkit-filter: sepia(0);
          filter: sepia(0);
}
.projects .project:nth-of-type(even) .p-photo {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.projects .project:nth-of-type(even) .p-description {
  left: auto;
  right: 45%;
}
.projects .project:nth-of-type(even) .p-description .p-title {
  left: 0;
  right: auto;
}
.projects .project:nth-of-type(even) .p-description .p-title .hyperlinks {
  left: 0;
  right: auto;
}
.projects .project:nth-of-type(even) .p-description p {
  text-align: left;
}
.projects .project:nth-of-type(even) .p-description .languages-used {
  left: 0%;
  translate: 0% -50%;
}

.navigation-content.contact {
  background: linear-gradient(#112240 220px, #0A192F 350px);
}
.navigation-content.contact .description.lets-talk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.navigation-content.contact .description.lets-talk h2 {
  margin-bottom: 10px;
  font-size: 3rem;
}
.navigation-content.contact .description.lets-talk p {
  width: 50%;
  text-align: center;
}
.navigation-content.contact .description.lets-talk .c-hyperlinks {
  margin-top: 30px;
  margin-bottom: 20px;
}
.navigation-content.contact .description.lets-talk .c-hyperlinks a {
  margin-right: 10px;
  font-size: 2.5rem;
  color: #8892B0;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.navigation-content.contact .description.lets-talk .c-hyperlinks a:hover {
  color: #60F7D4;
}
.navigation-content.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 40px;
  font-size: 1.5rem;
}
.navigation-content.contact form > div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  max-width: 350px;
}
.navigation-content.contact form > div:hover input,
.navigation-content.contact form > div:hover textarea {
  border: 2px solid #1A3462;
}
.navigation-content.contact form input,
.navigation-content.contact form textarea {
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
  padding: 0 15px;
  background-color: #112240;
  border: 2px solid transparent;
  border-radius: 10px;
  color: #CCD6F6;
  font-family: "Inter", "Arial";
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  outline: none;
  resize: none;
  -webkit-transition: border 0.5s, background-color 0.5s;
  transition: border 0.5s, background-color 0.5s;
}
.navigation-content.contact form textarea {
  padding: 10px 15px;
  height: 100px;
}
.navigation-content.contact form .placeholder {
  position: absolute;
  top: 14px;
  left: 15px;
  color: #64748B;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.navigation-content.contact form .email.active input,
.navigation-content.contact form .email.active textarea,
.navigation-content.contact form .message.active input,
.navigation-content.contact form .message.active textarea {
  border: 2px solid #1A3462;
  background-color: transparent;
}
.navigation-content.contact form .email.active .placeholder,
.navigation-content.contact form .message.active .placeholder {
  -webkit-transform: translateX(calc(-100% - 25px));
          transform: translateX(calc(-100% - 25px));
  color: #8892B0;
}
.navigation-content.contact form .submit {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.navigation-content.contact form .submit input {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #64748B;
  cursor: not-allowed;
  -webkit-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
}
.navigation-content.contact form .submit.active input {
  color: #CCD6F6;
  background-color: #0A192F;
  border: 2px solid #1A3462;
  cursor: pointer;
}
.navigation-content.contact form .submit.active input:hover {
  background-color: #112240;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 100px;
  color: #64748B;
  font-size: 1.4rem;
  font-weight: 300;
}
footer hl {
  color: #8892B0;
}
footer div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer div span {
  cursor: default;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
footer div span:hover {
  color: #8892B0;
}
footer .f-trademark {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
footer .f-description span {
  width: 250px;
}
footer .f-hyperlinks {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
footer .f-hyperlinks a {
  font-size: 2.5rem;
  margin-right: 12px;
  color: inherit;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
footer .f-hyperlinks a:hover {
  color: #60F7D4;
}

:root {
  --eyesX: 0px;
  --eyesY: 0px;
}

.test {
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  z-index: 2;
}
.test .image {
  width: 100%;
}
.test .image-test {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}
.test .dot {
  position: absolute;
  top: 48%;
  left: 61.7%;
  height: 10px;
  width: 10px;
  background-color: red;
  z-index: 1;
  -webkit-animation: rotate 3s linear infinite;
          animation: rotate 3s linear infinite;
}
.test .dot > div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 50px;
  translate: -20% -55%;
  background-color: #011229;
  border-radius: 100%;
  -webkit-filter: blur(0.5px);
          filter: blur(0.5px);
  -webkit-animation: rotateX 3s linear infinite;
          animation: rotateX 3s linear infinite;
}
.test .dot > div > span {
  position: absolute;
  top: 43%;
  left: 60%;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 100%;
}
.test .right-eye.dot {
  top: 65.5%;
  left: 71.2%;
}
.test .left-eye.dot {
  top: 6%;
  left: 47.2%;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes rotateX {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes rotateX {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@-webkit-keyframes slide {
  0% {
    -webkit-transform: translate(0px, -10px);
            transform: translate(0px, -10px);
  }
  20% {
    -webkit-transform: translate(0px, -10px);
            transform: translate(0px, -10px);
  }
  40% {
    -webkit-transform: translate(15px, 0px);
            transform: translate(15px, 0px);
  }
  60% {
    -webkit-transform: translate(0px, 15px);
            transform: translate(0px, 15px);
  }
  80% {
    -webkit-transform: translate(-15px, 0px);
            transform: translate(-15px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, -10px);
            transform: translate(0px, -10px);
  }
}
@keyframes slide {
  0% {
    -webkit-transform: translate(0px, -10px);
            transform: translate(0px, -10px);
  }
  20% {
    -webkit-transform: translate(0px, -10px);
            transform: translate(0px, -10px);
  }
  40% {
    -webkit-transform: translate(15px, 0px);
            transform: translate(15px, 0px);
  }
  60% {
    -webkit-transform: translate(0px, 15px);
            transform: translate(0px, 15px);
  }
  80% {
    -webkit-transform: translate(-15px, 0px);
            transform: translate(-15px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, -10px);
            transform: translate(0px, -10px);
  }
}/*# sourceMappingURL=style.css.map */