:root {
  --bgc: #0A192F;
  --bgc-second: #112240;
  --bgc-third: #1A3462;
  --bgc-fourth: rgba(10, 25, 47, 0.7);
  --font-color: #CCD6F6;
  --font-color-second: #8892B0;
  --font-color-third: #60F7D4;
  --font-color-fourth: #64748B;
  --line-color: rgba(136, 146, 176, .3);
  --line-color-second: #CCD6F6;
  --bgc-n: #0A192F;
  --bgc-second-n: #112240;
  --bgc-third-n: #1A3462;
  --bgc-fourth-n: rgba(10, 25, 47, 0.6);
  --font-color-n: #CCD6F6;
  --font-color-second-n: #8892B0;
  --font-color-third-n: #60F7D4;
  --font-color-fourth-n: #64748B;
  --line-color-n: rgba(136, 146, 176, .3);
  --line-color-second-n: #CCD6F6;
  --bgc-d: #ffffff;
  --bgc-second-d: #f5f5f7;
  --bgc-third-d: #dcdcf0;
  --bgc-fourth-d: rgba(244, 249, 252, 0.6);
  --font-color-d: #000;
  --font-color-second-d: #6e6e73;
  --font-color-third-d: #0066cc;
  --font-color-fourth-d: #056C89;
  --line-color-d: #8c94b5;
  --line-color-second-d: #0066cc;
  --font: "Inter", "Arial";
  --font-second: "Inter Tight", "Arial";
  --font-third: "SF Mono", "Arial";
  --time: .5s;
  --animationDelay: .7s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (min-width: 1000px) {
  * {
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
  }
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  background-color: var(--bgc);
  font-family: var(--font);
  -webkit-transition: background-color var(--time);
  transition: background-color var(--time);
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='24' fill='none' viewBox='0 0 26 31'%3E%3Cpath fill='%23010101' fill-rule='evenodd' stroke='%23fff' stroke-linecap='square' stroke-width='1.5' d='M21.993 14.425 2.549 2.935l4.444 23.108 4.653-10.002 10.347-1.616Z' clip-rule='evenodd'/%3E%3C/svg%3E"), auto;
}

.content {
  overflow: hidden;
  max-width: 1920px;
  width: 100%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

section {
  margin: 0 2rem;
  font-family: var(--font);
  color: var(--font-color);
  -webkit-transition: color var(--time);
  transition: color var(--time);
}
@media (min-width: 1000px) {
  section {
    margin: 0 clamp(2rem, 10vw, 150rem);
  }
}

.block {
  background-color: var(--bgc-second);
  border-radius: 15px;
  -webkit-transition: background-color var(--time);
  transition: background-color var(--time);
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.relative {
  position: relative;
}

ul {
  list-style: none;
}

hl {
  color: var(--font-color-third);
  -webkit-transition: color var(--time);
  transition: color var(--time);
}

:root {
  --bgc: #0A192F;
  --bgc-second: #112240;
  --bgc-third: #1A3462;
  --bgc-fourth: rgba(10, 25, 47, 0.7);
  --font-color: #CCD6F6;
  --font-color-second: #8892B0;
  --font-color-third: #60F7D4;
  --font-color-fourth: #64748B;
  --line-color: rgba(136, 146, 176, .3);
  --line-color-second: #CCD6F6;
  --bgc-n: #0A192F;
  --bgc-second-n: #112240;
  --bgc-third-n: #1A3462;
  --bgc-fourth-n: rgba(10, 25, 47, 0.6);
  --font-color-n: #CCD6F6;
  --font-color-second-n: #8892B0;
  --font-color-third-n: #60F7D4;
  --font-color-fourth-n: #64748B;
  --line-color-n: rgba(136, 146, 176, .3);
  --line-color-second-n: #CCD6F6;
  --bgc-d: #ffffff;
  --bgc-second-d: #f5f5f7;
  --bgc-third-d: #dcdcf0;
  --bgc-fourth-d: rgba(244, 249, 252, 0.6);
  --font-color-d: #000;
  --font-color-second-d: #6e6e73;
  --font-color-third-d: #0066cc;
  --font-color-fourth-d: #056C89;
  --line-color-d: #8c94b5;
  --line-color-second-d: #0066cc;
  --font: "Inter", "Arial";
  --font-second: "Inter Tight", "Arial";
  --font-third: "SF Mono", "Arial";
  --time: .5s;
  --animationDelay: .7s;
}

.content {
  position: relative;
}
.content .cv {
  overflow: hidden;
  position: absolute;
  opacity: 0;
  top: 40px;
  right: 15px;
  width: 112px;
  padding: 21px 25px;
  border: 2px solid transparent;
  border-radius: 30px;
  background-color: var(--bgc-second);
  color: var(--font-color-third);
  font-family: var(--font-third);
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  animation: slide-show 0.5s calc(var(--animationDelay) + 1s) reverse forwards linear;
}
.content .cv span {
  position: absolute;
  right: 0;
  top: 50%;
  translate: -20px -50%;
}
.content .cv div {
  display: block;
  position: absolute;
  right: 87px;
  top: 50%;
  translate: 0px -50px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 1.8rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.first-section {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 100px;
  margin-bottom: 50px;
}
.first-section p {
  margin-bottom: 20px;
  font-family: "SF Mono", sans-serif;
  font-weight: 400;
  font-size: clamp(14px, 5vw, 16px);
  color: var(--font-color-third);
  -webkit-transition: color var(--time);
  transition: color var(--time);
}
.first-section h1 {
  font-family: var(--font-second);
  font-size: clamp(3.5rem, 7vw, 6rem);
  color: var(--font-color);
  letter-spacing: 1px;
  font-weight: 600;
  -webkit-transition: color var(--time);
  transition: color var(--time);
}
.first-section h3 {
  font-size: clamp(2.5rem, 4vw, 4.5rem);
  color: var(--font-color-second);
  letter-spacing: 1px;
  font-weight: 600;
  -webkit-transition: color var(--time);
  transition: color var(--time);
}

.first-section > *::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bgc);
  -webkit-transition: background-color var(--time);
  transition: background-color var(--time);
  -webkit-animation: sliderr 1s var(--animationDelay) ease-out forwards;
          animation: sliderr 1s var(--animationDelay) ease-out forwards;
}

@media (min-width: 1200px) {
  .content .cv {
    top: 80px;
    right: 12%;
  }
  .content .cv:hover {
    width: 142px;
    color: var(--font-color);
    border: 2px solid var(--bgc-second);
    background-color: transparent;
  }
  .content .cv:hover span {
    -webkit-animation: moveOver 1s linear forwards;
            animation: moveOver 1s linear forwards;
  }
  .content .cv:hover div {
    display: block;
    -webkit-animation: fallDown 1s linear forwards;
            animation: fallDown 1s linear forwards;
  }
}
@-webkit-keyframes moveOver {
  0% {
    translate: -20px -50%;
  }
  30% {
    translate: -10px -50%;
  }
  85% {
    translate: -10px -50%;
  }
}
@keyframes moveOver {
  0% {
    translate: -20px -50%;
  }
  30% {
    translate: -10px -50%;
  }
  85% {
    translate: -10px -50%;
  }
}
@-webkit-keyframes fallDown {
  0% {
    translate: 0px -50px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  30% {
    translate: 0px -5px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    translate: 0px -5px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  75% {
    translate: -5px -30px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    translate: -10px -50%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes fallDown {
  0% {
    translate: 0px -50px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  30% {
    translate: 0px -5px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    translate: 0px -5px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  75% {
    translate: -5px -30px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    translate: -10px -50%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes sliderr {
  0% {
    width: 100%;
  }
  99% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 100%;
  }
  100% {
    width: 0px;
  }
}
@keyframes sliderr {
  0% {
    width: 100%;
  }
  99% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 100%;
  }
  100% {
    width: 0px;
  }
}
@-webkit-keyframes slide-show {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 1;
  }
}
@keyframes slide-show {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 1;
  }
}
:root {
  --bgc: #0A192F;
  --bgc-second: #112240;
  --bgc-third: #1A3462;
  --bgc-fourth: rgba(10, 25, 47, 0.7);
  --font-color: #CCD6F6;
  --font-color-second: #8892B0;
  --font-color-third: #60F7D4;
  --font-color-fourth: #64748B;
  --line-color: rgba(136, 146, 176, .3);
  --line-color-second: #CCD6F6;
  --bgc-n: #0A192F;
  --bgc-second-n: #112240;
  --bgc-third-n: #1A3462;
  --bgc-fourth-n: rgba(10, 25, 47, 0.6);
  --font-color-n: #CCD6F6;
  --font-color-second-n: #8892B0;
  --font-color-third-n: #60F7D4;
  --font-color-fourth-n: #64748B;
  --line-color-n: rgba(136, 146, 176, .3);
  --line-color-second-n: #CCD6F6;
  --bgc-d: #ffffff;
  --bgc-second-d: #f5f5f7;
  --bgc-third-d: #dcdcf0;
  --bgc-fourth-d: rgba(244, 249, 252, 0.6);
  --font-color-d: #000;
  --font-color-second-d: #6e6e73;
  --font-color-third-d: #0066cc;
  --font-color-fourth-d: #056C89;
  --line-color-d: #8c94b5;
  --line-color-second-d: #0066cc;
  --font: "Inter", "Arial";
  --font-second: "Inter Tight", "Arial";
  --font-third: "SF Mono", "Arial";
  --time: .5s;
  --animationDelay: .7s;
}

.second-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
}
.second-section > div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--font-color);
  margin-bottom: 20px;
  -webkit-transition: color var(--time);
  transition: color var(--time);
}
.second-section > div:first-of-type .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  min-height: 200px;
  margin-right: 10px;
}
.second-section > div:first-of-type .profile .profile-pic-wrapper {
  position: relative;
  width: 120px;
  height: 120px;
  margin-top: 20px;
}
.second-section > div:first-of-type .profile .profile-pic {
  overflow: hidden;
  width: 120px;
  height: 120px;
  background-color: var(--bgc-third);
  border-radius: 100px;
  -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  -webkit-transform: translatey(0px);
          transform: translatey(0px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
}
.second-section > div:first-of-type .profile .profile-pic .image {
  visibility: hidden;
  width: 100%;
  translate: 0 120px;
  -webkit-animation: profile-pic-slide 1.5s calc(var(--animationDelay) + 1s) forwards;
          animation: profile-pic-slide 1.5s calc(var(--animationDelay) + 1s) forwards;
}
.second-section > div:first-of-type .profile .profile-pic .image-test {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  translate: 0 120px;
  -webkit-animation: profile-pic-slide 1.5s calc(var(--animationDelay) + 1s) forwards;
          animation: profile-pic-slide 1.5s calc(var(--animationDelay) + 1s) forwards;
}
.second-section > div:first-of-type .profile .profile-pic .dot {
  position: absolute;
  height: 2px;
  width: 2px;
  z-index: 1;
  translate: 0 120px;
  -webkit-animation: eyes-slide 1.5s calc(var(--animationDelay) + 1s) forwards;
          animation: eyes-slide 1.5s calc(var(--animationDelay) + 1s) forwards;
}
.second-section > div:first-of-type .profile .profile-pic .dot > div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9px;
  height: 11px;
  translate: -20% -55%;
  background-color: #011229;
  border-radius: 100%;
  opacity: 0.9;
}
.second-section > div:first-of-type .profile .profile-pic .dot > div > span {
  position: absolute;
  top: 43%;
  left: 60%;
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 100%;
}
.second-section > div:first-of-type .profile .profile-pic .right-eye.dot {
  top: 52%;
  left: 70.8%;
}
.second-section > div:first-of-type .profile .profile-pic .left-eye.dot {
  top: 52%;
  left: 47.2%;
}
.second-section > div:first-of-type .profile .name-wrapper {
  margin-top: 5px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.second-section > div:first-of-type .profile p {
  width: 100%;
  top: 65%;
  text-align: center;
  font-size: 1.2rem;
  opacity: 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--font-color-second);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  animation: slide-show 0.5s calc(var(--animationDelay) + 1.5s) reverse forwards linear;
}
.second-section > div:first-of-type .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  max-width: 200px;
  height: auto;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px 0;
}
.second-section > div:first-of-type .navigation span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 15px;
  padding: 15px 0;
  color: var(--font-color-fourth);
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
}
.second-section > div:first-of-type .navigation span:nth-of-type(1) {
  -webkit-animation: 1s calc(var(--animationDelay) + 2s) fade-in forwards;
          animation: 1s calc(var(--animationDelay) + 2s) fade-in forwards;
  margin-top: 0;
}
.second-section > div:first-of-type .navigation span:nth-of-type(2) {
  -webkit-animation: 1s calc(var(--animationDelay) + 2.2s) fade-in forwards;
          animation: 1s calc(var(--animationDelay) + 2.2s) fade-in forwards;
}
.second-section > div:first-of-type .navigation span:nth-of-type(3) {
  -webkit-animation: 1s calc(var(--animationDelay) + 2.4s) fade-in forwards;
          animation: 1s calc(var(--animationDelay) + 2.4s) fade-in forwards;
  margin-bottom: 0;
}
.second-section > div:first-of-type .navigation span::before {
  content: "";
  width: 15px;
  height: 1.5px;
  margin-right: 10px;
  background-color: var(--line-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.second-section > div:first-of-type .navigation span.active {
  color: var(--font-color);
}
.second-section > div:first-of-type .navigation span.active::before {
  width: 35px;
  height: 2px;
  background-color: var(--line-color-second);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.second-section .navigation-contents {
  position: relative;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 1000px;
}
.second-section .navigation-contents .navigation-content.about-me .navigation-content-wrapper {
  -webkit-animation: 1s calc(var(--animationDelay) + 2.6s) fade-in forwards;
          animation: 1s calc(var(--animationDelay) + 2.6s) fade-in forwards;
}
.second-section .navigation-contents .navigation-content-wrapper {
  opacity: 0;
  -webkit-animation: 1s fade-in forwards;
          animation: 1s fade-in forwards;
}
.second-section .navigation-contents .navigation-content {
  display: none;
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.second-section .navigation-contents .navigation-content.active {
  display: block;
}
.second-section .navigation-contents .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  padding: 25px 20px;
}
.second-section .navigation-contents .title h2 {
  margin-right: 25px;
  font-size: 2.6rem;
  font-weight: 600;
}
.second-section .navigation-contents .title::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 2px;
  max-width: 250px;
  background-color: var(--line-color);
  -webkit-transition: background-color var(--time);
  transition: background-color var(--time);
}
.second-section .navigation-contents .description {
  width: 100%;
  margin-top: 20px;
  padding: 0px 20px;
  font-size: 1.5rem;
  color: var(--font-color-second);
  -webkit-transition: color var(--time);
  transition: color var(--time);
}
.second-section .navigation-contents .description h2 {
  margin-bottom: 2px;
  color: var(--font-color);
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  -webkit-transition: color var(--time);
  transition: color var(--time);
}
.second-section .navigation-contents .description p {
  letter-spacing: 0.5px;
  line-height: 20px;
}
.second-section .navigation-contents .description p:first-of-type {
  margin-bottom: 25px;
}
.second-section .navigation-contents .description span {
  color: var(--font-color-third);
  -webkit-transition: color var(--time);
  transition: color var(--time);
}
.second-section .navigation-contents .skills-wrapper {
  margin-top: 130px;
}
.second-section .navigation-contents .skills-wrapper > p {
  top: -40px;
  color: var(--font-color);
  font-size: clamp(1rem, 3.5vw, 1.4rem);
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: color var(--time);
  transition: color var(--time);
}
.second-section .navigation-contents .skills-wrapper > p::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  translate: -50% -50%;
  width: 60%;
  height: 1px;
  background-color: var(--line-color);
  -webkit-transition: background-color var(--time);
  transition: background-color var(--time);
}
.second-section .navigation-contents .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 420px;
}
.second-section .navigation-contents .skills .languages,
.second-section .navigation-contents .skills .frameworks,
.second-section .navigation-contents .skills .tools {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.second-section .navigation-contents .skills .languages.active .stat-name,
.second-section .navigation-contents .skills .frameworks.active .stat-name,
.second-section .navigation-contents .skills .tools.active .stat-name {
  background-color: var(--bgc-second);
}
.second-section .navigation-contents .skills .languages.active .stat-name i,
.second-section .navigation-contents .skills .frameworks.active .stat-name i,
.second-section .navigation-contents .skills .tools.active .stat-name i {
  color: var(--font-color-third);
}
.second-section .navigation-contents .skills .languages.active .stat-name span,
.second-section .navigation-contents .skills .frameworks.active .stat-name span,
.second-section .navigation-contents .skills .tools.active .stat-name span {
  color: var(--font-color);
}
.second-section .navigation-contents .skills .languages.active > ul,
.second-section .navigation-contents .skills .frameworks.active > ul,
.second-section .navigation-contents .skills .tools.active > ul {
  display: block;
  position: absolute;
  left: 60%;
  top: -80px;
}
.second-section .navigation-contents .skills .languages .stat-name,
.second-section .navigation-contents .skills .frameworks .stat-name,
.second-section .navigation-contents .skills .tools .stat-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  padding: 10px 0;
  border-radius: 10px;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.second-section .navigation-contents .skills .languages .stat-name i,
.second-section .navigation-contents .skills .frameworks .stat-name i,
.second-section .navigation-contents .skills .tools .stat-name i {
  margin-bottom: 8px;
  font-size: 2rem;
  color: var(--font-color-fourth);
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.second-section .navigation-contents .skills .languages .stat-name span,
.second-section .navigation-contents .skills .frameworks .stat-name span,
.second-section .navigation-contents .skills .tools .stat-name span {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--font-color-fourth);
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.second-section .navigation-contents .skills .languages > ul,
.second-section .navigation-contents .skills .frameworks > ul,
.second-section .navigation-contents .skills .tools > ul {
  display: none;
  margin: 100px 0 0 0;
  opacity: 0;
  -webkit-animation: fade-in 1s forwards;
          animation: fade-in 1s forwards;
}
.second-section .navigation-contents .skills .languages > ul li,
.second-section .navigation-contents .skills .frameworks > ul li,
.second-section .navigation-contents .skills .tools > ul li {
  margin-bottom: 40px;
}
.second-section .navigation-contents .skills .languages > ul li.sp,
.second-section .navigation-contents .skills .frameworks > ul li.sp,
.second-section .navigation-contents .skills .tools > ul li.sp {
  margin-left: 50px;
  margin-bottom: 35px;
}
.second-section .navigation-contents .skills .languages > ul li span,
.second-section .navigation-contents .skills .frameworks > ul li span,
.second-section .navigation-contents .skills .tools > ul li span {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--font-color-second);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.second-section .navigation-contents .skills .tools::after {
  display: none;
}

.about-me.block {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(24%, var(--bgc-second)), color-stop(38%, transparent));
  background: linear-gradient(var(--bgc-second) 24%, transparent 38%);
}

.icon {
  width: 30px;
  height: 30px;
  left: -30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}
.icon.java {
  background-image: url("../img/java-logo.png");
}
.icon.javascript {
  background-image: url("../img/js-logo.png");
}
.icon.typescript {
  background-image: url("../img/typescript-logo.png");
}
.icon.html {
  background-image: url("../img/html-logo.png");
}
.icon.css {
  background-image: url("../img/css-logo.png");
}
.icon.spring {
  background-image: url("../img/spring-logo.png");
}
.icon.jpa {
  background-image: url("../img/jpa-logo.png");
}
.icon.security {
  background-image: url("../img/security-logo.png");
}
.icon.web {
  background-image: url("../img/web-logo.png");
}
.icon.angular {
  background-image: url("../img/angular-logo.png");
}
.icon.playwright {
  background-image: url("../img/playwright-logo.png");
}
.icon.docker {
  background-image: url("../img/docker-logo.png");
}
.icon.git {
  background-image: url("../img/git-logo.png");
}
.icon.maven {
  background-image: url("../img/maven-logo.png");
}
.icon.junit {
  background-image: url("../img/junit-logo.png");
}
.icon.thymeleaf {
  background-image: url("../img/thymeleaf-logo.png");
}
.icon.htmx {
  background-image: url("../img/htmx-logo.png");
}
.icon.scss {
  background-image: url("../img/scss-logo.png");
}
.icon.intellij {
  background-image: url("../img/intellij-logo.png");
}
.icon.visual {
  background-image: url("../img/visual-logo.png");
}
.icon.postresql {
  background-image: url("../img/postresql-logo.png");
}
.icon.photopea {
  background-image: url("../img/photopea-logo.png");
}

@media (min-width: 700px) {
  .second-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .second-section > div:first-of-type {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 10px;
  }
  .second-section > div:first-of-type .profile p {
    font-size: 1.3rem;
  }
  .second-section > div:first-of-type .navigation {
    margin-top: 20px;
    width: 200px;
    font-size: 1.2rem;
  }
  .second-section > div:first-of-type .navigation span::before {
    width: 25px;
  }
  .second-section > div:first-of-type .navigation span.active::before {
    width: 70px;
  }
  .second-section .navigation-contents .title h2 {
    font-size: 3.2rem;
  }
  .second-section .navigation-contents .description {
    width: clamp(300px, 90%, 450px);
  }
}
@media (min-width: 1200px) {
  .second-section > div:first-of-type {
    margin-right: 50px;
  }
  .second-section > div:first-of-type .profile p {
    top: 72%;
    font-size: 1.5rem;
  }
  .second-section > div:first-of-type .profile:hover .profile-pic {
    background-color: var(--bgc-second);
  }
  .second-section > div:first-of-type .profile:hover p {
    translate: -50% -15px;
    color: var(--font-color);
  }
  .second-section > div:first-of-type .navigation span:hover {
    color: var(--font-color);
  }
  .second-section > div:first-of-type .navigation span:hover::before {
    width: 70px;
    background-color: var(--line-color-second);
  }
  .second-section .navigation-contents .navigation-content {
    padding: 25px 35px;
  }
  .second-section .navigation-contents .title h2 {
    font-size: 3.5rem;
  }
  .second-section .navigation-contents .skills-wrapper {
    margin-top: 150px;
  }
  .second-section .navigation-contents .skills-wrapper > p {
    top: -55px;
    font-size: 1.5rem;
  }
  .second-section .navigation-contents .skills {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .second-section .navigation-contents .skills .languages,
  .second-section .navigation-contents .skills .frameworks,
  .second-section .navigation-contents .skills .tools {
    position: relative;
  }
  .second-section .navigation-contents .skills .languages .stat-name,
  .second-section .navigation-contents .skills .frameworks .stat-name,
  .second-section .navigation-contents .skills .tools .stat-name {
    width: 100%;
  }
  .second-section .navigation-contents .skills .languages .stat-name i,
  .second-section .navigation-contents .skills .frameworks .stat-name i,
  .second-section .navigation-contents .skills .tools .stat-name i {
    font-size: 2.3rem;
    color: var(--font-color-third);
    -webkit-transition: color var(--time);
    transition: color var(--time);
  }
  .second-section .navigation-contents .skills .languages .stat-name span,
  .second-section .navigation-contents .skills .frameworks .stat-name span,
  .second-section .navigation-contents .skills .tools .stat-name span {
    font-size: 1.3rem;
    color: var(--font-color-second);
    -webkit-transition: color var(--time);
    transition: color var(--time);
  }
  .second-section .navigation-contents .skills .languages.active .stat-name,
  .second-section .navigation-contents .skills .frameworks.active .stat-name,
  .second-section .navigation-contents .skills .tools.active .stat-name {
    background-color: transparent;
  }
  .second-section .navigation-contents .skills .languages.active .stat-name span,
  .second-section .navigation-contents .skills .frameworks.active .stat-name span,
  .second-section .navigation-contents .skills .tools.active .stat-name span {
    color: var(--font-color-second);
  }
  .second-section .navigation-contents .skills .languages.active > ul,
  .second-section .navigation-contents .skills .frameworks.active > ul,
  .second-section .navigation-contents .skills .tools.active > ul {
    position: static;
  }
  .second-section .navigation-contents .skills .languages::after,
  .second-section .navigation-contents .skills .frameworks::after,
  .second-section .navigation-contents .skills .tools::after {
    content: "";
    position: absolute;
    top: 60px;
    right: 0;
    width: 2px;
    height: 150px;
    background-color: rgba(136, 146, 176, 0.2);
  }
  .second-section .navigation-contents .skills .languages > ul,
  .second-section .navigation-contents .skills .frameworks > ul,
  .second-section .navigation-contents .skills .tools > ul {
    display: block;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 45px 0 0 40%;
  }
  .second-section .navigation-contents .skills .languages > ul li:hover .icon,
  .second-section .navigation-contents .skills .frameworks > ul li:hover .icon,
  .second-section .navigation-contents .skills .tools > ul li:hover .icon {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
  .second-section .navigation-contents .skills .languages > ul li:hover span,
  .second-section .navigation-contents .skills .frameworks > ul li:hover span,
  .second-section .navigation-contents .skills .tools > ul li:hover span {
    color: var(--font-color);
  }
  .second-section .navigation-contents .skills .languages > ul li.sp,
  .second-section .navigation-contents .skills .frameworks > ul li.sp,
  .second-section .navigation-contents .skills .tools > ul li.sp {
    margin-left: 20px;
    margin-bottom: 25px;
  }
  .second-section .navigation-contents .skills .tools::after {
    display: none;
  }
}
@-webkit-keyframes profile-pic-slide {
  0% {
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    translate: 0 0;
  }
}
@keyframes profile-pic-slide {
  0% {
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    translate: 0 0;
  }
}
@-webkit-keyframes eyes-slide {
  to {
    translate: 0 0;
  }
}
@keyframes eyes-slide {
  to {
    translate: 0 0;
  }
}
@-webkit-keyframes float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-10px);
            transform: translatey(-10px);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-10px);
            transform: translatey(-10px);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}
@-webkit-keyframes slider {
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes slider {
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes slide-show {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes fade-in {
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
:root {
  --bgc: #0A192F;
  --bgc-second: #112240;
  --bgc-third: #1A3462;
  --bgc-fourth: rgba(10, 25, 47, 0.7);
  --font-color: #CCD6F6;
  --font-color-second: #8892B0;
  --font-color-third: #60F7D4;
  --font-color-fourth: #64748B;
  --line-color: rgba(136, 146, 176, .3);
  --line-color-second: #CCD6F6;
  --bgc-n: #0A192F;
  --bgc-second-n: #112240;
  --bgc-third-n: #1A3462;
  --bgc-fourth-n: rgba(10, 25, 47, 0.6);
  --font-color-n: #CCD6F6;
  --font-color-second-n: #8892B0;
  --font-color-third-n: #60F7D4;
  --font-color-fourth-n: #64748B;
  --line-color-n: rgba(136, 146, 176, .3);
  --line-color-second-n: #CCD6F6;
  --bgc-d: #ffffff;
  --bgc-second-d: #f5f5f7;
  --bgc-third-d: #dcdcf0;
  --bgc-fourth-d: rgba(244, 249, 252, 0.6);
  --font-color-d: #000;
  --font-color-second-d: #6e6e73;
  --font-color-third-d: #0066cc;
  --font-color-fourth-d: #056C89;
  --line-color-d: #8c94b5;
  --line-color-second-d: #0066cc;
  --font: "Inter", "Arial";
  --font-second: "Inter Tight", "Arial";
  --font-third: "SF Mono", "Arial";
  --time: .5s;
  --animationDelay: .7s;
}

.block.projects {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, var(--bgc-second)), color-stop(14%, transparent));
  background: linear-gradient(var(--bgc-second) 5%, transparent 14%);
}

.projects .projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}
.projects .project {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 800px;
  min-height: 200px;
  margin-bottom: 70px;
  border: 0.5px solid rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: rgba(2, 12, 27, 0.7) 0px 20px 30px -15px;
          box-shadow: rgba(2, 12, 27, 0.7) 0px 20px 30px -15px;
}
.projects .project .p-photo .projects-video {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.projects .project .p-photo .projects-video iframe {
  width: 100%;
  height: 100%;
}
.projects .project .p-photo .projects-video .projects-video-x-btn {
  position: absolute;
  top: -45px;
  left: 50%;
  translate: -50% 60px;
  opacity: 0;
  font-size: 3.5rem;
  color: var(--font-color-second);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.projects .project .p-photo .projects-video.active {
  opacity: 1;
  z-index: 6;
}
.projects .project .p-photo .projects-video.active .projects-video-x-btn {
  translate: -50% 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.projects .project .p-photo > a {
  display: none;
  width: 100%;
}
.projects .project .p-description {
  position: relative;
  width: 100%;
  translate: 0 0;
  top: 0;
  left: 0;
  padding: 50px 30px;
}
.projects .project .p-description::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  z-index: -2;
  opacity: 0.25;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}
.projects .project .p-description::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bgc-fourth);
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  z-index: -1;
}
.projects .project .p-description .p-title {
  position: static;
  translate: 0 0;
}
.projects .project .p-description .p-title h2 {
  font-family: var(--font-second);
  font-size: 2.5rem;
  font-weight: 600;
  text-align: start;
  margin-bottom: 15px;
  margin-top: 20px;
}
.projects .project .p-description .p-title .hyperlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -27px;
  left: 0;
  translate: 0 0;
}
.projects .project .p-description .p-title .hyperlinks a,
.projects .project .p-description .p-title .hyperlinks button {
  color: var(--font-color-second);
  font-size: 1.9rem;
  margin-right: 12px;
  -webkit-transition: color var(--time);
  transition: color var(--time);
}
.projects .project .p-description .p-title .hyperlinks a:last-of-type {
  margin-right: 0;
}
.projects .project .p-description p {
  margin-bottom: 5px;
  font-size: 1.5rem;
  line-height: 23px;
  font-weight: 300;
  text-align: left;
  color: var(--font-color-second);
  -webkit-transition: color var(--time);
  transition: color var(--time);
}
.projects .project .p-description .languages-used {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  translate: 0 0;
}
.projects .project .p-description .languages-used p {
  position: relative;
  margin-right: 20px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-family: var(--font-third);
  text-transform: uppercase;
}
.projects .project .p-description .languages-used p span {
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50% -50%;
  font-size: 1rem;
}
.projects .project .p-description .languages-used p:last-of-type {
  margin-right: 0;
}
.projects .project:nth-of-type(1) .p-description::before {
  background-image: url("../img/pricety-logo.jpg");
}
.projects .project:nth-of-type(2) .p-description::before {
  background-image: url("../img/pricety-telegram-logo.jpg");
}
.projects .project:nth-of-type(3) .p-description::before {
  background-image: url("../img/botload-logo.jpg");
}
.projects .project:nth-of-type(4) .p-description::before {
  background-image: url("../img/projects-logo.jpg");
}

@media (min-width: 1200px) {
  .projects .project {
    overflow: visible;
    margin-bottom: 110px;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .projects .project:hover .p-photo img {
    opacity: 1;
    -webkit-filter: sepia(0);
            filter: sepia(0);
  }
  .projects .project .p-photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .projects .project .p-photo .projects-video {
    top: 50%;
    left: auto;
    right: 0;
    translate: 0 -50%;
    width: 70%;
  }
  .projects .project .p-photo a {
    display: block;
    width: 70%;
  }
  .projects .project .p-photo img {
    width: 100%;
    opacity: 0.3;
    -webkit-filter: sepia(1);
            filter: sepia(1);
    -webkit-box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
            box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .projects .project .p-description {
    position: absolute;
    top: 50%;
    left: 45%;
    width: 60%;
    translate: 0 -50%;
    margin-top: 10px;
    padding: 25px;
    background-color: var(--bgc-second);
    -webkit-box-shadow: rgba(2, 12, 27, 0.7) 0px 20px 30px -15px;
            box-shadow: rgba(2, 12, 27, 0.7) 0px 20px 30px -15px;
    -webkit-transition: background-color var(--time);
    transition: background-color var(--time);
  }
  .projects .project .p-description::before {
    display: none;
  }
  .projects .project .p-description::after {
    display: none;
  }
  .projects .project .p-description .p-title {
    position: absolute;
    top: -40px;
    left: auto;
    right: 0;
    translate: 0 -50%;
  }
  .projects .project .p-description .p-title h2 {
    font-size: 2.7rem;
  }
  .projects .project .p-description .p-title .hyperlinks {
    top: 0px;
    left: auto;
    right: 0;
    translate: 0 -50%;
  }
  .projects .project .p-description .p-title .hyperlinks a,
  .projects .project .p-description .p-title .hyperlinks button {
    font-size: 2rem;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }
  .projects .project .p-description .p-title .hyperlinks a:hover,
  .projects .project .p-description .p-title .hyperlinks button:hover {
    color: var(--font-color-third);
  }
  .projects .project .p-description .p-title .hyperlinks a:last-of-type {
    margin-right: 0;
  }
  .projects .project .p-description p {
    line-height: 24.5px;
    text-align: right;
    letter-spacing: 0.5px;
  }
  .projects .project .p-description .languages-used {
    position: absolute;
    top: calc(100% + 25px);
    left: 100%;
    translate: -100% -50%;
  }
  .projects .project:nth-of-type(3) {
    margin-bottom: 200px;
  }
  .projects .project:nth-of-type(even) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    max-width: 800px;
    min-height: 200px;
    margin-bottom: 130px;
  }
  .projects .project:nth-of-type(even):hover .p-photo img {
    opacity: 1;
    -webkit-filter: sepia(0);
            filter: sepia(0);
  }
  .projects .project:nth-of-type(even) .p-photo {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .projects .project:nth-of-type(even) .p-photo .projects-video-x-btn i {
    border-radius: 100%;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }
  .projects .project:nth-of-type(even) .p-photo .projects-video-x-btn i:hover {
    color: var(--font-color-third);
  }
  .projects .project:nth-of-type(even) .p-description {
    left: auto;
    right: 45%;
  }
  .projects .project:nth-of-type(even) .p-description .p-title {
    left: 0;
    right: auto;
  }
  .projects .project:nth-of-type(even) .p-description .p-title .hyperlinks {
    left: 0;
    right: auto;
  }
  .projects .project:nth-of-type(even) .p-description p {
    text-align: left;
  }
  .projects .project:nth-of-type(even) .p-description .languages-used {
    left: 0%;
    translate: 0% -50%;
  }
}
.navigation-content.contact {
  background: linear-gradient(var(--bgc-second) 220px, transparent 350px);
}
.navigation-content.contact .description.lets-talk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.navigation-content.contact .description.lets-talk h2 {
  margin-bottom: 10px;
  font-size: 3rem;
}
.navigation-content.contact .description.lets-talk p {
  width: 90%;
  max-width: 350px;
  text-align: center;
}
.navigation-content.contact .description.lets-talk .c-hyperlinks {
  margin-top: 30px;
  margin-bottom: 20px;
}
.navigation-content.contact .description.lets-talk .c-hyperlinks a {
  margin-right: 10px;
  font-size: 2.5rem;
  color: var(--font-color-second);
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.navigation-content.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 20px;
  font-size: 1.5rem;
}
.navigation-content.contact form > div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55%;
  max-width: 350px;
}
.navigation-content.contact form input,
.navigation-content.contact form textarea {
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
  padding: 0 15px;
  background-color: var(--bgc-second);
  border: 2px solid transparent;
  border-radius: 10px;
  color: var(--font-color);
  font-family: var(--font);
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  outline: none;
  resize: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.navigation-content.contact form textarea {
  padding: 10px 15px;
  height: 100px;
}
.navigation-content.contact form .placeholder {
  position: absolute;
  top: 14px;
  left: 15px;
  color: var(--font-color-fourth);
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.7s;
  transition: 0.7s;
  cursor: text;
}
.navigation-content.contact form .email.active input,
.navigation-content.contact form .email.active textarea,
.navigation-content.contact form .message.active input,
.navigation-content.contact form .message.active textarea {
  border: 2px solid var(--bgc-third);
  background-color: transparent;
}
.navigation-content.contact form .email.active .placeholder,
.navigation-content.contact form .message.active .placeholder {
  -webkit-transform: translateX(calc(-100% - 25px));
          transform: translateX(calc(-100% - 25px));
  color: var(--font-color-second);
  cursor: inherit;
}
.navigation-content.contact form .submit {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.navigation-content.contact form .submit input {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: var(--font-color-fourth);
  cursor: not-allowed;
  -webkit-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
}
.navigation-content.contact form .submit.active input {
  color: var(--font-color);
  background-color: var(--bgc);
  border: 2px solid var(--bgc-third);
  cursor: pointer;
}
.navigation-content.contact form .submit.active input:hover {
  background-color: var(--bgc-second);
}

@media (min-width: 1200px) {
  .navigation-content.contact .description.lets-talk .c-hyperlinks a:hover {
    color: var(--font-color-third);
  }
  .navigation-content.contact form {
    margin-top: 40px;
  }
  .navigation-content.contact form > div {
    width: 90%;
  }
  .navigation-content.contact form > div:hover input,
  .navigation-content.contact form > div:hover textarea {
    border: 2px solid var(--bgc-third);
  }
  .navigation-content.contact form .submit.active input:hover {
    background-color: var(--bgc-second);
  }
}
.mode-toggler {
  position: absolute;
  right: 0;
  top: -248px;
  width: 55px;
  height: 30px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  background-color: var(--bgc);
  color: var(--font-color);
  border: 2px solid var(--font-color-fourth);
  border-radius: 30px;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
  opacity: 0;
  animation: slide-show 0.5s calc(var(--animationDelay) + 1s) reverse forwards linear;
  -webkit-transition: top 0s;
  transition: top 0s;
}
.mode-toggler .toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: 10% -50%;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background-color: var(--font-color-fourth);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.mode-toggler .toggle i {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  color: var(--bgc);
  -webkit-transition: color;
  transition: color;
  -webkit-animation: fade-in 1s;
          animation: fade-in 1s;
}
.mode-toggler span {
  position: absolute;
  top: -17px;
  left: 50%;
  translate: -50% 0;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: var(--font-color-second);
  -webkit-transition: color var(--time);
  transition: color var(--time);
  -webkit-animation: fade-in 1s;
          animation: fade-in 1s;
}
.mode-toggler span:last-of-type {
  display: none;
}
.mode-toggler i:last-of-type {
  display: none;
}

.mode-toggler.active .toggle {
  translate: -110% -50%;
}
.mode-toggler.active span:first-of-type {
  display: none;
}
.mode-toggler.active i:first-of-type {
  display: none;
}
.mode-toggler.active span:last-of-type {
  display: block;
}
.mode-toggler.active i:last-of-type {
  display: block;
}

@media (min-width: 700px) {
  .mode-toggler {
    top: -28px;
  }
}
@media (min-width: 1200px) {
  .mode-toggler:hover .toggle {
    background-color: var(--font-color);
  }
  .mode-toggler:hover span {
    color: var(--font-color);
  }
}
@keyframes slide-show {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.glow {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 1000px;
  height: 1000px;
  z-index: -1;
  opacity: 0;
  background: radial-gradient(rgba(53, 121, 255, 0.05) 0.1%, transparent, transparent);
  animation: slide-show 0.5s calc(var(--animationDelay) + 1s) reverse forwards linear;
}

@media (min-width: 1200px) {
  .glow {
    display: block;
  }
}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 100px 10px 100px;
  color: var(--font-color-fourth);
  font-size: 1.4rem;
  font-weight: 300;
  -webkit-transition: color var(--time);
  transition: color var(--time);
}
footer hl {
  color: var(--font-color-second);
  -webkit-transition: color var(--time);
  transition: color var(--time);
}
footer div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer div span {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
footer div span:hover {
  color: var(--font-color-second);
}
footer .f-trademark {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
footer .f-description span {
  text-align: center;
  width: 250px;
}
footer .f-hyperlinks {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
footer .f-hyperlinks a {
  font-size: 2.5rem;
  margin-right: 12px;
  color: inherit;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
footer .f-hyperlinks a:last-of-type {
  margin-right: 0;
}

@media (min-width: 800px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 50px 100px;
  }
  footer .f-description span {
    text-align: left;
  }
  footer a:hover {
    color: var(--font-color-third);
  }
}/*# sourceMappingURL=style.css.map */